body {
    background-image: url("link_to_my_picture");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.header {
    border-style: solid;
    background-color: transparent;
    text-align: center;
    padding: 10px;
}

.content {
    background-color: transparent;
    height: 80%;
    width: 70%;
    margin: auto;
    padding: 20px;
}

.footer {
    background-color: transparent;
    text-align: center;
    padding: 10px;
}